# =========================
# Node / Next.js
# =========================

# dependencies
/node_modules
/.pnp
.pnp.js

# next.js build output
/.next/
/out/
/build

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# =========================
# Python / FastAPI
# =========================

# python cache
__pycache__/
*.py[cod]
*$py.class

# virtual environment
venv/
.venv/
env/
ENV/

# python build files
build/
dist/
*.egg-info/
.eggs/

# logs
*.log

# testing
.pytest_cache/
.coverage
coverage.xml

# mypy
.mypy_cache/

# pycharm
.idea/

# vscode
.vscode/

# macOS
.DS_Store

# secrets
*.pem

*.db